.main {
  background-color: beige;
}

.video {
  margin-left: 25%;
  margin-right: 25%;
}

#homepage-video {
  grid-column: 2;
}

.navbar {
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  border-style: double;
  background-color: silver;
}

.nav-item{
  padding: 30px;
  grid-column: 1/4;
}

li::marker{
  /* content: '♜'; */
  content: '♞';
  padding: 2px;
  font-size: 2em;

}

.bio {
  display: grid;
  height: 90vh;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 2fr 1fr;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  padding: 20px;
}

.profile{
  position: absolute;
  top: 20%;
  left: 10%;
  border-radius: 20%;
}

h1, article {
  grid-column: 2 / 5;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr;
  gap: 5px;
  height: 90vh;
}

.project-link {
  align-items: center;
  padding-left: 200px;
}

.repo-link {
  display: grid;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
}

.descrip {
  padding-left: 50px;
  font-family: 'Playfair Display', serif;
  text-align: center;
}
